<div class='logo'>
  <h1>Time Tracker</h1>
</div>

<!--TODO add some functionality-->
<% if current_user %>
<ul class="custom-nav nav nav-tabs">
  <li class="<%= active?(root_path) %>">
    <%= link_to "Home", root_path %>
  </li>


  <%= render 'shared/employee_nav_items' if employee? %>

  <%= render 'shared/audit_log_tab' if admin? %>



  <li class="dropdown pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Options<strong class="caret"></strong></a>
    <!--TODO add some functionality-->
    <ul class="dropdown-menu">

      <%=	 render 'shared/admin_dropdown' if admin? %>
    <!--TODO add some functionality-->
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </li>
</ul>
<%	 end %>
<!--TODO add some functionality-->